{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 180,
    "semi": true,
    "plugins": [%PLUGINS%],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
